*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    font-family: 'Livvic', sans-serif;
    background-color: #014E56;
}

img{
    object-fit: cover;
}