.clients-section{
    background-color: #012F34;
    padding: 140px 0 121px 0;
    position: relative;
}
.clients{
    width: 95%;
    margin: 0 auto;
}
.clients::before{
    position: absolute;
    content: ' ';
    width: 200px;
    height: 200px;
    left: 0;
    top: 0;
    background-image: url("../../img/clients__bg.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}
.clients__top{
    margin-bottom: 64px;
}
.clients__top-title{
    font-weight: 700;
    line-height: 48px;
    font-size: 48px;
    color: #FFFFFF;
    text-align: center;
}
.clients__list{
    @include center (space-between);
    width: 100%;
}
.clients__item{
    width: 18%;
}
.clients__link{
    width: 100%;
}
.clients__img{
    width: 100%;
}
@media only screen and (max-width:950px){
    .clients::before{
        background-position-y: -100px;
    }
}
@media only screen and (max-width:760px){
    .clients-section{
        padding: 100px 0 60px 0;
    }
    .clients::before{
        background-position-x: -100px;
    }
    .clients__top-title{
        font-weight: 700;
        line-height: 32px;
        font-size: 32px;
    }
    .clients__list{
        flex-direction: column;
    }
    .clients__item{
        width: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .clients__link{
        width: 50%;
        margin: 0 auto;
    }
    .clients__img{
        width: 100%;
    }
}

@media only screen and (max-width:520px) {
    .clients-section{
        padding: 88px 0 40px 0;
    }
    .clients__top-title{
        font-weight: 700;
        line-height: 25px;
        font-size: 25px;
    }
}