.site-footer {
    padding: 48px 0;
    background-color: #002529;
}
   
.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
   
.footer__content {
    width: 450px;
    display: flex;
    justify-content: space-between;
}
   
.footer__logotip-wrapper {
    display: flex;
    flex-direction: column;
   
    img {
     margin-bottom: 25px;
    }
}
   
.footer__p-wrapper {
    display: flex;
    gap: 40px;
}

.footer__p-wrapper a:nth-child(2){
    margin-left: 30px;
}
   
.link {
    display: inline-block;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
}
   
.link:hover {
    color: #F67E7E;
}
   
.footer__item{
    width: 164px;
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;

}
.footer__item > a{
    color: #FFFFFF;
    text-decoration: none;

}
   .footer-logo {
    width: 160px;
    height: 40px;
   }
   
   .footer__logo {
    display: flex;
    flex-direction: column;
   }
   
   .logo-link+.logo-link {
    padding-left: 16px;
   }
   
   .logo__wrapper {
    margin-bottom: 51px;
    text-align: right;
   
    a {
     text-decoration: none;
     display: inline-block;
    }
   }
   .footer__text {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.6;
   }
   #facebook{
    transition: all 0.3s;
}
#facebook:hover{
    fill: #5fa4ff;
}
#Path{
    transition: all 0.3s;
}
#Path:hover{
    fill: rgb(240, 40, 40);
    background-color: #FFFFFF;
}
#twitter{
    transition: all 0.3s;
}
#twitter:hover{
    fill: rgba(48, 94, 245, 0.888);
}

@media only screen and (max-width){
    .footer__p-wrapper a:nth-child(2){
        margin-left: 20px;
    }
}
   
   @media only screen and (max-width: 768px) {
    .footer {
     flex-direction: column;
    }
   
    .footer__content {
     margin-bottom: 32px;
     width: 100%;
     justify-content: space-between;
    }
   
    .footer__logotip-wrapper {
     margin-bottom: 0;
    }
   
    .footer__p-wrapper {
        gap: 20px;
     justify-content: space-between;
    }
    .footer__p-wrapper a:nth-child(2){
        margin-left: 20px;
    }
   
    .footer-logo {
     width: 96px;
     height: 24px;
    }
   
    .footer__logo {
     width: 100%;
     justify-content: space-between;
     flex-direction: row;
    }
   
    .logo__wrapper {
     margin-bottom: 0;
    }
   }
   
   @media only screen and (max-width: 500px) {
    .site-footer {
     padding: 66px 0;
    }
   
    .footer {
     text-align: center;
     align-items: center;
    }
   
    .footer__content {
     flex-direction: column;
     margin-bottom: 32px;
     align-items: center;
    }
   
    .footer__logotip-wrapper {
     max-width: 140px;
     align-items: center;
     margin-bottom: 24px;
    }
   
    address {
     margin: 0 auto 40px;
    }
   
    .footer__p-wrapper {
     justify-content: space-between;
    }
    .footer__p-wrapper a:nth-child(2){
        margin-left: 10px;
    }
   
    .footer__logo {
     align-items: center;
     flex-direction: column;
    }
   
    .logo__wrapper {
     margin-bottom: 16px;
    }
   }

