.site-header{
    padding: 77px 0 133px 0;
}
.header{
    @include center(space-between);
}
.header-left{
    @include center(space-between);
}
.header-left__logo{
    display: inline-block;
}
.header__logo-img{
    width: 160px;
    height: 40px;
}
.header__list{
    margin-left: 80px;
    @include center(none);
}
.header__item + .header__item{
    margin-left: 40px;
}
.header__link{
    font-weight: 600;
    line-height: 28px;
    font-size: 18px;
    color: #FFFFFF;
    transition: all 0.3s;
}
.header__link:hover{
    color: #F67E7E;
}
.header-right__link{
    display: inline-block;
    width: 153px;
    padding: 10px 0;
    color: #FFFFFF;
    text-align: center;
    border-radius: 24px;
    border: 2px solid #FFFFFF;
    font-weight: 600;
    line-height: 28px;
    font-size: 18px;
    transition: all 0.3s;
}
.header-right__link:hover{
    background-color: #FFFFFF;
    color: #002529;
}
.button{
    background-color: transparent;
    border: none;
}
@media only screen and (min-width:621px){
    .button{
        display: none;
    }
    .header__logo-img{
        width: 128px;
        height: 32px;
    }
}
@media (min-width:621px) and  (max-width:768px){
    .site-header{
        padding: 72px 0 120px 0;
    }
    .header__logo-img{
        width: 128px;
        height: 32px;
    }
    .header__list{
        margin-left: 48px;
    }
}
@media only screen and  (max-width:620px){
    .site-header{
        padding: 48px 0 80px 0;
    }
    .container{
        padding: 0 24px;
    }
    .header__logo-img{
        width: 128px;
        height: 32px;
    }
    .header__list{
        margin-left: 48px;
        display: none;
    }
    .header-right{
        display: none;
    }
    .button{
        display: block;
    }
}
