.hero-section{
    position: relative;
}
.hero{
    padding-bottom: 255px;
    @include center(space-between);
    align-items: flex-end;
    
}
.hero::before{
    position: absolute;
    content: ' ';
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    background-image: url("../../img/hero-section_bg.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-x: -100px;
}
.hero::after{
    position: absolute;
    content: ' ';
    width: 358px;
    height: 200px;
    background-image: url("../../img/hero-section_bg1.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    bottom: 0;
    right: 0;
    background-position-y: 100px;
}
.hero__content{
    width: 49%;
}
.hero__content-title{
    margin: 0;
    font-weight: 700;
    line-height: 100px;
    font-size: 100px;
    color: #FFFFFF;
}
.hero__content-title > span{
    color: #F67E7E;
}
.hero__detals{
    width: 41%;
}
.hero__detals-line{
    margin-bottom: 79px;
    display: inline-block;
    width: 50px;
    height: 4px;
    background-color: #79C8C7;
}
.hero__detals-text{
    font-weight: 600;
    line-height: 28px;
    font-size: 18px;
    color: #FFFFFF;
}

@media(min-width:769px) and (max-width:1000px){
    .hero{
        flex-direction: column;
        text-align: center;
        background-position-y: 440px;
    }
    .hero::before{
        background-image: none;
    }
    .hero::after{
        left: 0;
        margin: 0 auto;
    }
    .hero__content{
        width: 95%;
        margin: 0 auto;
    }
    .hero__detals{
        width: 95%;
        margin: 0 auto;
        margin-top: 24px;
    }
    .hero__detals-line{
        display: none;
    }
}
@media only screen and  (max-width:768px){
    .hero-section{
        background-image: none;
    }
    .hero::before{
        background-image: none;
    }
    .hero::after{
        left: 0;
        margin: 0 auto;
    }
    .hero{
        background-position-x: center;
        background-position-y: 370px;
        flex-direction: column;
        text-align: center;
    }
    .hero__content{
        width: 70%;
        margin: 0 auto;
    }
    .hero__content-title{
        font-weight: 700;
        line-height: 56px;
        font-size: 64px;
        color: #FFFFFF;
        text-align: center;
    }
    .hero__detals{
        width: 80%;
        margin: 0 auto;
        margin-top: 24px;
    }
    .hero__detals-line{
        display: none;
    }
    .hero__detals-text{
        font-weight: 600;
        line-height: 28px;
        font-size: 15px;
    }
}
